.finfo {
    position: relative;
    width: 1512px;
    height: 900px;
    
    background: #FFFFFF;
}

.finfo-text {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 95%;
    flex-direction: column;
    row-gap: 14px;
    padding-left: 60px;
}

.finfo-title {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 61px;
    color: white;
    text-align: left;
    padding-top: 100px;
    padding-right: 150px;
    padding-left: 60%;
    z-index: 2;
}


.finfo-description {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 31px;
    text-align: left;
    color: #fad492;
    background-color: Transparent;
    background-repeat:no-repeat;
    padding-right: 150px;
    padding-left: 60%;
    z-index: 2;
    border: none;
}

.finfo-description:hover {
    color: #080402;
}

.finfo-project {
    position: absolute;
    left: 60%;
    top: 18%;
    z-index: 2;
    background: linear-gradient(154.62deg, rgba(255, 253, 253, 0.4) 3.67%, rgba(255, 250, 250, 0.1) 98.21%);
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(40px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 40px;
    width: 450px;
}

.finfo-project > ul > li {
    list-style: none;
    padding-right: 8px;
}

.finfo-project > ul > li:first-of-type {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 15px;
}

.finfo-project > ul > li {
    font-family: 'Lato';
    font-size: 15px;
}

.finfo-logo {
    position: absolute;
    width: 100%;
}

.frame {
    position: absolute;
    width: 353px;
    height: 708px;
    left: 80px;
    top: 100px;
    
    filter: drop-shadow(0px 24px 80px rgba(57, 37, 20, 0.32));
    border-radius: 55px;
}