.haven {
    position: relative;
    width: 1512px;
    height: 982px;
    
    background: #FFFFFF;
}

.haven-text {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 95%;
    flex-direction: column;
    row-gap: 14px;
    padding-left: 60px;
}

.haven-title {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 61px;
    color: rgb(0, 0, 0);
    text-align: left;
    padding-top: 100px;
    padding-bottom: 14px;
    z-index: 2;
}


.haven-description {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 31px;
    text-align: left;
    color: #FF7426;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
}

.haven-description:hover {
    color: #080402;
}

.haven-project {

}

.haven-project > ul > li {
    list-style: none;
    padding-right: 8px;
}

.haven-project > ul > li:first-of-type {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 15px;
}

.haven-project > ul > li {
    font-family: 'Lato';
    font-size: 15px;
}

.haven-logo {
    position: absolute;
    width: 303px;
    left: 51px;
    top: 420px;
}

.frame1 {
    position: absolute;
    width: 353px;
    height: 708px;
    left: 346px;
    top: 372px;
    
    filter: drop-shadow(0px 24px 80px rgba(57, 37, 20, 0.32));
}

.frame2 {
    position: absolute;
    width: 352px;
    height: 709px;
    left: 732px;
    top: 140px;
    
    filter: drop-shadow(0px 24px 80px rgba(57, 37, 20, 0.32));
}

.frame3 {
    position: absolute;
    width: 353px;
    height: 708px;
    left: 1117px;
    top: 575px;
    
    filter: drop-shadow(0px 24px 80px rgba(57, 37, 20, 0.32));
}

.frame4 {
    position: absolute;
    width: 353px;
    height: 708px;
    left: 1117px;
    top: -167px;
    
    filter: drop-shadow(0px 24px 80px rgba(57, 37, 20, 0.32));
}